/node_modules
/package-lock.json
/public/src/jquery/jquery.js
/public/src/jquery-ui/jquery-ui.js
/public/src/jquery-ui-sortable-animation/jquery.ui.sortable-animation.js
/public/slides/temp/*
/public/slides/*.pdf
/public/slides/*.png
/*.pdf
/*.png
/public/slides/p*