/node_modules
/package-lock.json
/public/src/jquery/jquery.js
/public/src/jquery/jquery-ui.js
/public/src/jquery/jquery.ui.sortable-animation.js
/public/slides/temp/*
/public/slides/*.pdf
/public/slides/*.png
/*.pdf
/*.png
/public/slides/p*
/*.uxf
/.vscode
/public/src/socket.io/socket.io.js