
/* General styles */
body {
    background-color: #212529;
}

.site {
    margin: 10px;
    
}

/* Style for the Presentation Boxes */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 0px;
}

.presentation-item {
    background-color: #1B1F22;
    margin: 10px;
    display: flex;
}

.presentation-item img {
    float: left; 
    margin: 10px;
    border: 5px solid #212529;
}

.presentation-description {
    margin-right: 75px;
    margin-left: 15px;
}

.presentation-description div {
    margin-top: 10px;
    color: white;
}

.presentation-control {
    float: left;
    margin: 10px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.presentation-control button {
    margin: 10px;
}