
/* General styles */
body {
    background-color: #212529;
}

.site {
    margin: 10px;
    
}

/* Style for the Presentation Boxes */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 0px;
}

.presentation-preview-item {
    background-color: #1B1F22;
    margin: 10px;
    padding: 0;
}

.slide-preview {
    display: flex;
    padding-bottom: 10px;
    margin: auto;
    margin-bottom: 10px;
    overflow: auto;
    white-space: nowrap;
    width: 837px;
    border: 5px solid #212529;
}

.slide-preview img {
    margin-right: 5px;
    height: 190px;
}

.presentation-item {
    display: flex;
}

.presentation-item img {
    float: left; 
    margin: 10px;
    border: 5px solid #212529;
}

.presentation-description {
    margin-right: 75px;
    margin-left: 15px;
}

.presentation-description div {
    margin-top: 10px;
    color: white;
}

.presentation-control {
    float: left;
    margin: 10px;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.presentation-control button {
    margin: 10px;
}

.sequence-controls {
    position: fixed;
    right: 25px;
    bottom: 25px;
    background-color: #1B1F22;
    padding: 10px;
    border-radius: 10px;
}

.sequence-controls img {
    margin-right: 5px;
    margin-left: 5px;
}

.sequence-controls button {
    visibility: hidden;
}

/* Drag and Drop */
#drop-area {
    border: 2px dashed #ccc;
    width: 100%;
    height: calc(60vh - 16px) ; /* 480 (new) or 440 */
    border-radius: 20px; /* Original Border Radius*/
}

.drop-area-surround {
    margin: 50px auto; /* Maybe change back to 100px */
    margin-top: 30px;
    width: 55%; /* 720 or 740(new) or 875 */
    /*height: 550px;*/
    background-color: #1B1F22;
    border-radius: 25px;
    font-family: sans-serif;
    padding: 15px; /* 15px */
}

.input-upload-box {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    display: flex;
}

.upload-controls {
    margin: 10px;
    margin-top: 0px;/*15*/
    margin-bottom: 0px;
    /*height: 50px;*/
    overflow: auto;
    align-items: center;
    display: flex;
}

.upload-controls button {
    margin: 5px;
    margin-right: 0px;
}

.upload-controls div {
    margin-right: 5px;
    margin-left: auto;
    visibility: hidden;
} 

#drop-area.highlight {
    border-color: purple;
}
.my-form {
    margin-bottom: 10px;
}
#gallery {
    margin-top: 10px;
}
#gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}
#fileElem {
    display: none;
}

.settings-area {
    background-color: #1B1F22;
    width: 860px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 15px;
    height: fit-content;
}

.settings-controls {
    display: flex;
    align-items: center;
}

.settings-controls button {
    margin-right: 5px;
}

.settings-controls img {
    visibility: hidden;
    margin-left: auto;
    margin-right: 5px;
}